
{% extends "base.html" %}
{% block title %}Adding a new position - Cinnamon Chapters{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Adding a new position</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div>
                {{ form.name.label }}
                {{ form.name(size=20) }}
            </div>

            <div>
                {{ form.price.label }}
                {{ form.price(step="0.01") }}
            </div>

            <div class="custom-file-upload">
                {{ form.img.label }}
                <label for="img-upload" class="btn">Choose Image</label>
                {{ form.img(id="img-upload", class_="input-file") }}
                <span id="file-name" class="file-name-label">No file chosen</span>
            </div>


            <div>
                {{ form.ingredients.label }}
                {{ form.ingredients(size=40) }}
            </div>

            <div>
                {{ form.description.label }}
                {{ form.description(size=40) }}
            </div>

            <div>
                {{ form.weight.label }}
                {{ form.weight(step="0.01") }}
            </div>

            <div>
                {{ form.category.label }}
                {{ form.category(size=40) }}
            </div>

            <div>
                {{ form.submit(class_="btn") }}
            </div>
        </form>
</div>

<script src="{{ url_for('static', filename='js/flashes.js') }}"></script>

{% endblock %}
