
{% extends "base.html" %}
{% block title %}Position - Cinnamon Chapters{% endblock %}
{% block content %}

<div class="position-container">
    <div class="position-image-block">
        <img src="/static/menu/{{ position.file_name }}" alt="{{ position.name }}" class="position-image">
    </div>

    <div class="position-info">
        <h2 class="position-name">{{ position.name }} ({{ position.weight }}{{ 'ml' if position.category == 'Drinks' else 'g' }})</h2>
        <p class="position-ingredients">{{ position.ingredients }}</p>

        <h3 class="position-section-title">Description:</h3>
        <p class="position-description">{{ position.description }}</p>

        <p class="position-price">{{ position.price }} £</p>

        <form method="POST" class="position-form">
            {{ form.hidden_tag() }}
            <label for="num" class="form-label">{{ form.num.label }}</label>
            {{ form.num(min=1, max=8, class_="form-input") }}
            {{ form.submit(class_="btn") }}
        </form>
    </div>
</div>

{% endblock %}

